:root {
  --bg-blue: #1363df;
  --text-white: #fff;
  --card-title: #172026;
  --card-icon: #1b252c;
  --footer-header: #172026;
  --footer-desc: #545d63;
  --filter-title: #181c24;
  --border-color: #d1d3d6;
  --dropdown-border: #b5b7bc;
}
